<div class="card-tools">
    <div class="input-group input-group-sm" style="width: 350px;">
      <!-- <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
      <div class="input-group-append">
        <button type="submit" class="btn btn-default">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="input-group-append">
        <button type="submit" class="btn btn-default">
          <i class="fas fa-file-invoice"></i>
        </button>
      </div>
      <div class="input-group-append">
        <button type="submit" class="btn btn-default">
          <i class="fas fa-filter"></i>
        </button>
      </div>
      <div class="input-group-append">
        <button type="submit" class="btn btn-default">
          <i class="fas fa-plus"></i>
        </button>
      </div> -->
    </div>
  </div>