<div class="modal fade show" tabindex="-1" role="dialog" [ngStyle]="style">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" (click)="cancelClicked()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelClicked()">Close</button>
        <button type="button" class="btn btn-primary" (click)="okClicked()">Save changes</button>
      </div>
    </div>
  </div>
</div>