<div class="modal fade show" tabindex="-1" role="dialog" [ngStyle]="style">
  <div class="modal-dialog {{size}}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" (click)="cancelClicked($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ng-content [select]="content"></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelClicked($event)">Close</button>
        <button type="button" class="btn btn-primary" (click)="okClicked($event)">Save changes</button>
      </div>
    </div>
  </div>
</div>