<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <div class="input-group input-group-sm" style="width: 350px;">
        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
        
        <div class="input-group-append" *ngFor="let toolaction of toolactions">
          <button type="submit" class="{{toolaction.btnClass}}" (click)="toolActionBtnClicked(toolaction.action)"> 
            <i class="{{toolaction.icon}}"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th *ngFor="let column of data[0] | keyvalue: unsorted">
                {{column.key}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data; let i = index">
              <td *ngFor="let column of row | keyvalue: unsorted">
                {{column.value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col align-self-start">
          <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing {{pagination.page}} to {{pagination.limit}} of {{pagination.total_rows}} entries</div>
        </div>
        <div class="align-items-end">
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="example2_previous">
                  <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                <li class="paginate_button page-item next" id="example2_next">
                  <a [routerLink]="" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>