<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-default">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-default">
            <i class="fas fa-file-invoice"></i>
          </button>
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-default">
            <i class="fas fa-filter"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th *ngFor="let column of data[0] | keyvalue">
            {{column.key}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data; let i = index">
          <td *ngFor="let column of row | keyvalue">
            {{column.value}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>